* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #ff0019;
    background-color: #052afc;
}
a:focus, a:hover {
	font-style: italic;
}
header {
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px solid #fc0019;
	background-image: linear-gradient(
	    45deg, rgb(17, 0, 255) 0%, rgb(21, 5, 255) 30%, white 50%, rgb(0, 4, 255) 80%, rgb(0, 38, 255) 100%);
}
header h2 {
	font-size: 170%;
	color: #ff0202;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}
header img {
	float: left;
}
.shadow {
	text-shadow: 2px 2px 2px #ff0000;
}
main {
	clear: left;
}
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	margin-bottom: .75em;
	border-radius: 10px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	text-align: left;
	color: #ff0000;
}
section h2 {
	color: #ff0000;
	font-size: 130%;
	padding-top: .5em;
	padding-bottom: 0.25em;
}
section h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
section img {
	padding-bottom: 1em;
}
section p {
	padding-bottom: .5em;
}
section blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}
section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}
section li {
	padding-bottom: .35em;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
article img {
	float: right;
	margin: 1em 0 1em 1em;
	border-image: 1px solid black;
}
aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
	color: #ff0707a2;
}
aside h2 {
	color: #ff0000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}
footer {
	background-color:rgb(29, 4, 255);
	clear: both;
}
footer p {
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}